// centrare elementi
@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// distanziare gli elementi con between
@mixin between() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// metto gli elementi con flex in colonna
@mixin column() {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

// allineo gli elementi allo start della riga
@mixin start() {
    display: flex;
    justify-content: start;
    align-items: center;
}